.clear_fix::after{
    content: "";
    display: block;
    position: relative;
    clear: both;
}
#event_push_up{
    position: fixed;
    bottom: 0;
    width: 350px;
    left: 0;
    z-index: 99;
}
.push_up_item{
    padding: 14px 40px 20px 49px;
    margin: 47px 36px;
    background-color: #FFFFFF;
    border-radius: 3px;
    position: relative;
    display: block;
    font-size: 12px;
    line-height: 16px;
    font-family: "PT Root UI";
    text-decoration: none;
    text-align: left;
    -webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
}
.push_up_item:before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    top: 14px;
    left: 16px;
    border-radius: 50%;
    background-color: #ffffff;
    border: 1.22px solid #FEBF39;
    background-image: url(./../../../img/sign.svg);
    background-repeat: no-repeat;
    background-size: 2px 9px;
    background-position: center;
}
.push_up_item a,
.push_up_item p{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #29282C;
}
.push_up_item p{
    cursor: default;
}
.push_up_item a{
    cursor: pointer;
}
.push_up_item a.pui_head,
.push_up_item p.pui_head{
    margin-bottom: 5px;
    display: block;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
}
.push_up_item p.pui_mess{
    color: #73737E;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
}
.push_up_item .pui_btns{
    margin-top: 10px;
    text-align: center;
}
.push_up_item .pui_btns>a{
    display: inline-block;
    margin: 0 5px;
    border: 1px solid #e6e6e6;
    color:#e6e6e6;
    padding: 5px 10px;
    border-radius: 3px;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}
.push_up_item .pui_btns>a:hover{
    border: 1px solid #fff;
    color:#fff;
}
.close_pushUp_alert{
    padding: 5px;
    position: absolute;
    top: 5px;
    right: 5px;
    line-height: 1;
    cursor: pointer;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}
.close_pushUp_alert:after {
    content: "";
    width: 12px;
    height: 12px;
    display: block;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTUiIGhlaWdodD0iMTUiIHZpZXdCb3g9IjAgMCAxNSAxNSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGcgb3BhY2l0eT0iMC41Ij4KPHBhdGggZD0iTTEuMTU0MyAxLjE1Mzg3TDEzLjg0NjYgMTMuODQ2Mk0xMy44NDY2IDEuMTUzODdMMS4xNTQzIDEzLjg0NjIiIHN0cm9rZT0iIzIyMjIyMiIgc3Ryb2tlLXdpZHRoPSIxLjUiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz4KPC9nPgo8L3N2Zz4K);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: contain;
}
.push_up_item div.pui_img{
    width: 60px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    float: left;
    margin-right: 10px;
    border-radius: 3px;
}

@media screen and (min-width: 768px) {
    /* #event_push_up {
        width: 313px;
    }

    .push_up_item {
        padding: 25px;
        margin: 40px;
    }

    .push_up_item:before {
        width: 44px;
        height: 44px;
        font-size: 28px;
        line-height: 44px;
    }

    .push_up_item a.pui_head,
    .push_up_item p.pui_head{
        font-size: 21px;
        line-height: 26px;
    }

    .push_up_item p{
        margin-left: 64px;
    }

    .close_pushUp_alert {
        top: 10px;
        right: 13px;
    } */
}