.airtable-info {
    display: none;
}

.airtable-success {
    display: none;
    color: green;
}

.airtable-error {
    display: none;
    color: red;
}

.airtable-message {
    display: none;
}

.airtable-warnings {
    display: none;
    background-color: #ffeb3b;
    color: black;
    padding: 1%;
}