#slider-range-alt {
  display: block;
  width: 170px;
  margin-top: 10px;
  margin-left: 21px;
  height: 8px;
  background-color: #ebebeb;
}
.dnd-hide {
  display: none;
}
pre.dnd-dump {
  background-color: #1b1b1b !important;
  color: #fff !important;
  border-radius: 15px !important;
  text-align: left !important;
  padding: 25px !important;
  z-index: 99999 !important;
  position: absolute !important;
  top: 120px;
  transform: translate(-420px, 0px);
  transition: transform 0.3s;
}
pre.dnd-dump:hover {
  transform: translate(0px, 0px);
}
.subscribe-edit {
  text-align: left;
  font-size: 10pt;
  padding: 25px 0;
}
.subscribe-edit a {
  color: #79b700;
}
.subscribe-edit h1 {
  margin-bottom: 15px;
}
.subscribe-edit h2 {
  margin-bottom: 15px;
}
.subscribe-edit .data-table td p {
  margin-bottom: 10px;
}
.subscribe-edit .data-table td p input {
  margin-top: 5px;
  margin-right: 5px;
}
.subscribe-edit .data-table td p input[type="text"] {
  border: 1px solid #79b700;
  padding: 5px 5px;
  border-radius: 6px;
}
.subscribe-edit .data-table td input[type="submit"] {
  background-color: #79b700;
  border: 1px solid #79b700;
  color: #fff;
  padding: 5px 15px;
  border-radius: 6px;
}
.subscribe-edit .data-table td input[type="reset"] {
  background-color: #fff;
  border: 1px solid #79b700;
  color: #79b700;
  padding: 5px 15px;
  border-radius: 6px;
}
.form_msg {
  width: 100%;
  padding: 25px 0;
  color: #79b700;
  font-weight: 600;
  display: none;
}
.offer_prop_item {
  position: relative;
}
.propDisabled {
  cursor: default;
}
.propDisabled::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ccc;
  opacity: 0.5;
}
.product-content__memory_item {
  padding: 5px 2px;
}
.catTopCountValue,
.catTopCount .ajaxPageNav {
  display: none;
}
.catTopCount .catTopCountValue {
  display: inline;
}
/*preloader Start*/
.windows8 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90px;
  height: 90px;
  margin: auto;
}

.windows8 .wBall {
  position: absolute;
  width: 72px;
  height: 72px;
  opacity: 0;
  transform: rotate(225deg);
  -o-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  -webkit-transform: rotate(225deg);
  -moz-transform: rotate(225deg);
  animation: orbit 6.96s infinite;
  -o-animation: orbit 6.96s infinite;
  -ms-animation: orbit 6.96s infinite;
  -webkit-animation: orbit 6.96s infinite;
  -moz-animation: orbit 6.96s infinite;
}

.windows8 .wBall .wInnerBall {
  position: absolute;
  width: 9px;
  height: 9px;
  background: rgb(87, 173, 0);
  left: 0px;
  top: 0px;
  border-radius: 9px;
}

.windows8 #wBall_1 {
  animation-delay: 1.52s;
  -o-animation-delay: 1.52s;
  -ms-animation-delay: 1.52s;
  -webkit-animation-delay: 1.52s;
  -moz-animation-delay: 1.52s;
}

.windows8 #wBall_2 {
  animation-delay: 0.3s;
  -o-animation-delay: 0.3s;
  -ms-animation-delay: 0.3s;
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
}

.windows8 #wBall_3 {
  animation-delay: 0.61s;
  -o-animation-delay: 0.61s;
  -ms-animation-delay: 0.61s;
  -webkit-animation-delay: 0.61s;
  -moz-animation-delay: 0.61s;
}

.windows8 #wBall_4 {
  animation-delay: 0.91s;
  -o-animation-delay: 0.91s;
  -ms-animation-delay: 0.91s;
  -webkit-animation-delay: 0.91s;
  -moz-animation-delay: 0.91s;
}

.windows8 #wBall_5 {
  animation-delay: 1.22s;
  -o-animation-delay: 1.22s;
  -ms-animation-delay: 1.22s;
  -webkit-animation-delay: 1.22s;
  -moz-animation-delay: 1.22s;
}

@keyframes orbit {
  0% {
    opacity: 1;
    z-index: 99;
    transform: rotate(180deg);
    animation-timing-function: ease-out;
  }

  7% {
    opacity: 1;
    transform: rotate(300deg);
    animation-timing-function: linear;
    origin: 0%;
  }

  30% {
    opacity: 1;
    transform: rotate(410deg);
    animation-timing-function: ease-in-out;
    origin: 7%;
  }

  39% {
    opacity: 1;
    transform: rotate(645deg);
    animation-timing-function: linear;
    origin: 30%;
  }

  70% {
    opacity: 1;
    transform: rotate(770deg);
    animation-timing-function: ease-out;
    origin: 39%;
  }

  75% {
    opacity: 1;
    transform: rotate(900deg);
    animation-timing-function: ease-out;
    origin: 70%;
  }

  76% {
    opacity: 0;
    transform: rotate(900deg);
  }

  100% {
    opacity: 0;
    transform: rotate(900deg);
  }
}

@-o-keyframes orbit {
  0% {
    opacity: 1;
    z-index: 99;
    -o-transform: rotate(180deg);
    -o-animation-timing-function: ease-out;
  }

  7% {
    opacity: 1;
    -o-transform: rotate(300deg);
    -o-animation-timing-function: linear;
    -o-origin: 0%;
  }

  30% {
    opacity: 1;
    -o-transform: rotate(410deg);
    -o-animation-timing-function: ease-in-out;
    -o-origin: 7%;
  }

  39% {
    opacity: 1;
    -o-transform: rotate(645deg);
    -o-animation-timing-function: linear;
    -o-origin: 30%;
  }

  70% {
    opacity: 1;
    -o-transform: rotate(770deg);
    -o-animation-timing-function: ease-out;
    -o-origin: 39%;
  }

  75% {
    opacity: 1;
    -o-transform: rotate(900deg);
    -o-animation-timing-function: ease-out;
    -o-origin: 70%;
  }

  76% {
    opacity: 0;
    -o-transform: rotate(900deg);
  }

  100% {
    opacity: 0;
    -o-transform: rotate(900deg);
  }
}

@-ms-keyframes orbit {
  0% {
    opacity: 1;
    z-index: 99;
    -ms-transform: rotate(180deg);
    -ms-animation-timing-function: ease-out;
  }

  7% {
    opacity: 1;
    -ms-transform: rotate(300deg);
    -ms-animation-timing-function: linear;
    -ms-origin: 0%;
  }

  30% {
    opacity: 1;
    -ms-transform: rotate(410deg);
    -ms-animation-timing-function: ease-in-out;
    -ms-origin: 7%;
  }

  39% {
    opacity: 1;
    -ms-transform: rotate(645deg);
    -ms-animation-timing-function: linear;
    -ms-origin: 30%;
  }

  70% {
    opacity: 1;
    -ms-transform: rotate(770deg);
    -ms-animation-timing-function: ease-out;
    -ms-origin: 39%;
  }

  75% {
    opacity: 1;
    -ms-transform: rotate(900deg);
    -ms-animation-timing-function: ease-out;
    -ms-origin: 70%;
  }

  76% {
    opacity: 0;
    -ms-transform: rotate(900deg);
  }

  100% {
    opacity: 0;
    -ms-transform: rotate(900deg);
  }
}

@-webkit-keyframes orbit {
  0% {
    opacity: 1;
    z-index: 99;
    -webkit-transform: rotate(180deg);
    -webkit-animation-timing-function: ease-out;
  }

  7% {
    opacity: 1;
    -webkit-transform: rotate(300deg);
    -webkit-animation-timing-function: linear;
    -webkit-origin: 0%;
  }

  30% {
    opacity: 1;
    -webkit-transform: rotate(410deg);
    -webkit-animation-timing-function: ease-in-out;
    -webkit-origin: 7%;
  }

  39% {
    opacity: 1;
    -webkit-transform: rotate(645deg);
    -webkit-animation-timing-function: linear;
    -webkit-origin: 30%;
  }

  70% {
    opacity: 1;
    -webkit-transform: rotate(770deg);
    -webkit-animation-timing-function: ease-out;
    -webkit-origin: 39%;
  }

  75% {
    opacity: 1;
    -webkit-transform: rotate(900deg);
    -webkit-animation-timing-function: ease-out;
    -webkit-origin: 70%;
  }

  76% {
    opacity: 0;
    -webkit-transform: rotate(900deg);
  }

  100% {
    opacity: 0;
    -webkit-transform: rotate(900deg);
  }
}

@-moz-keyframes orbit {
  0% {
    opacity: 1;
    z-index: 99;
    -moz-transform: rotate(180deg);
    -moz-animation-timing-function: ease-out;
  }

  7% {
    opacity: 1;
    -moz-transform: rotate(300deg);
    -moz-animation-timing-function: linear;
    -moz-origin: 0%;
  }

  30% {
    opacity: 1;
    -moz-transform: rotate(410deg);
    -moz-animation-timing-function: ease-in-out;
    -moz-origin: 7%;
  }

  39% {
    opacity: 1;
    -moz-transform: rotate(645deg);
    -moz-animation-timing-function: linear;
    -moz-origin: 30%;
  }

  70% {
    opacity: 1;
    -moz-transform: rotate(770deg);
    -moz-animation-timing-function: ease-out;
    -moz-origin: 39%;
  }

  75% {
    opacity: 1;
    -moz-transform: rotate(900deg);
    -moz-animation-timing-function: ease-out;
    -moz-origin: 70%;
  }

  76% {
    opacity: 0;
    -moz-transform: rotate(900deg);
  }

  100% {
    opacity: 0;
    -moz-transform: rotate(900deg);
  }
}
.catalog-main {
  position: relative;
}
.preloaderCatalog {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: rgba(221, 221, 221, 0.22);
}
.preloaderCatalog.preloaderCatalogActive {
  display: block;
}
/*preloader done*/
.mp-element.mp-active {
  display: block;
}
.mp-element.mp-disable {
  display: none;
}

.prodBroke__title {
  padding: 0;
  margin: 0;
  font-weight: bold;
}
.bundle-text {
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.bundle-border {
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 15px;
}
.mr-0 {
  margin-right: 0 !important;
}
.redesign-characteristics .row:nth-child(2n + 1) {
  background-color: #e2e2e2;
}
.table-padding {
  padding: 10px 15px;
}
.redesign-characteristics span {
  font-size: 12px;
}
.name-properties {
  line-height: 4;
}
.instruction-wrapper .tab-content__column a {
  font-size: 12px;
}
.instruction-wrapper .tab-content__column a img {
  width: 32px;
}
.top-nav .top-sign a {
  display: inline-block;
  color: #454545;
}
.top-nav .top-sign a:hover {
  color: #79b700;
}
.top-nav .top-sign form {
  display: inline-block;
}
.top-nav .top-sign form input {
  background-color: transparent;
  border: none;
  color: #79b700;
  font-size: 12px;
}
.top-sign {
  width: 150px;
}
.sci-login {
  margin: 35px 0;
}
.password-input input {
  margin-left: 6px;
}
.email-input input {
  margin-left: 8px;
}
.input-reg {
  display: inline-block;
}
.input-reg:first-child {
  width: 250px;
}
.bx-auth-reg {
  text-align: left;
  font-size: 13px;
  margin: 35px 0px;
  max-width: 725px;
  padding: 0px 30px;
  border: 1px solid #79b700;
}
.bx-auth-reg .text-message {
  margin: 25px 0px;
  font-size: 16px;
  font-weight: 500;
}
.reg-title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
}
.bx-auth-reg .subtext {
  font-style: italic;
  line-height: 1.6;
  font-size: 12px;
}
.bx-auth-reg .input-reg .sci-login__input {
  margin: 5px 0;
}
.bx-auth-reg .input-reg img.calendar-icon {
  margin: 10px 0px 0px 5px;
}
.bx-auth-reg p.subtext:last-child {
  margin-bottom: 10px;
}
.bx-auth-reg .errortext {
  padding: 15px 0px;
  display: block;
  width: 100%;
}
#popap-login .errortext {
  width: 100%;
}
.reg-text-complete {
  margin: 10px 0;
  font-size: 18px;
  font-weight: 500;
}
.reg-text-complete-sub {
  margin: 25px 0;
}
.bx-authform {
  max-width: 100% !important;
}
.bx-authform .alert-success {
  color: #fff;
  background-color: #79b700;
  border-color: #79b700;
}
.password-input,
.email-input {
  text-align: right;
  width: 100%;
}
.reg-footer {
  width: 100%;
}
.bx-input-file-desc {
  display: none;
}
.custom-save input {
  margin-top: 15px;
  font-size: 10px;
}
.forget-passwd {
  text-align: left;
  margin: 35px 0;
  font-size: 14px;
}
.auth-link {
  color: #79b700;
  font-size: 13px;
  font-weight: 500;
  margin-top: 5px;
  display: block;
}
.auth-get {
  font-size: 15px;
  font-weight: 600;
  margin-top: 25px;
  margin-bottom: 15px;
}
input.pb-info__button {
  border: none;
}
#bx-soa-total-mobile {
  display: none;
}

.so_dl_city {
  padding: 0 74px 0 0;
}
.so_dl_city .bx-sls .dropdown-block {
  padding: 0 22px 8px 30px;
}
.so_dl_city__input {
  display: inline-block;
  width: 549px;
  padding: 0 0 0 10px;
}
.pp__is_offer.pp__is_offer__disable {
  display: none;
}
.pp__big_photo {
  display: none;
}
.pp__big_photo.active {
  display: block;
}
.slick-slide .p-name a {
  color: #000;
}
.slick-slide .p-name a:hover {
  color: #78b700;
}
.product-card .p-name a {
  color: #000;
}
.product-card .p-name a:hover {
  color: #78b700;
}
.top-nav1__call-request {
  width: 100%;
  text-align: center;
}
.top-nav1__search-button {
  overflow: hidden;
}
.slick-track {
  min-width: 1200px !important;
}
.search-popup-row .search-popup-el-cnt,
.search-popup-row-active .search-popup-el-cnt {
  display: none;
}
.ffdf {
  display: flex !important;
  margin-top: 0px;
}
.catalog-main-sr {
  margin-top: 30px;
}
.catalog-block.catalog-block-search {
  width: 100%;
}

.top-slide1__title {
  display: block;
  position: absolute;
  bottom: 110px;
  font-family: "PT Root UI", "Arial", sans-serif;
  font-size: 36px;
  font-weight: 500;
  line-height: 1;
  color: #000;
  text-align: left;
  width: 338px;
  margin: 0;
}
.top-slide1__button {
  display: block;
  position: absolute;
  bottom: 30px;
  font-family: "PT Root UI", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-align: center;
  width: 300px;
  background-color: #79b700;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  padding: 20px 0;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  margin: 0;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.top-personal__shopcart {
  margin-right: 0;
}
.product-card__slide.bestseller img {
  top: 30px;
}
.slick-prev {
  left: -15px;
}
.slick-next {
  right: -15px;
}
/* .addToFavoriteList.notActive {
  -webkit-filter: grayscale(1)!important;
  filter: grayscale(1)!important;
} */
.preview-heart-not-text {
  text-align: center;
  font-size: 22px;
  font-weight: 600;
  padding: 15px;
}
.no-display-img-detail {
  display: none !important;
}
.p-article__sidebar_item a {
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  color: #333;
}
.p-article__sidebar_item a:hover {
  color: #79b700;
}
h4.p-article__sidebar_title {
  margin-top: 15px;
}
.article__img {
  background-size: cover !important;
}
.p-nav-top__favorite:hover {
  background: url(../img/top-heart.svg) center center no-repeat;
}
.preview-prod1__name a {
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  color: #333333;
}
.preview-prod1__name a:hover {
  color: #79b700;
}
.sci-top__name a {
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  color: #333333;
}
.sci-top__name a:hover {
  color: #79b700;
}
.sci-add__name a {
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  color: #333333;
}
.sci-add__name a:hover {
  color: #79b700;
}
.shipping-item .payment__item .payment__item_text {
  text-align: justify;
}
.cb-nav-pagination__item a {
  color: #333333;
}
.addToCompareList.alt-img {
  background: url(../img/top-sheets-green.svg) center center no-repeat;
  display: inline-block;
  height: 22px;
  width: 22px;
  margin-right: 5px;
  -webkit-background-size: contain;
  background-size: contain;
  cursor: pointer;
  opacity: 1;
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
}
.addToCompareList.notActive.alt-img {
  background: url(../img/top-sheets.svg) center center no-repeat;
  display: inline-block;
  height: 22px;
  width: 22px;
  margin-right: 5px;
  -webkit-background-size: contain;
  background-size: contain;
  cursor: pointer;
  opacity: 0.5;
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
}
.addToCompareList.notActive.alt-img:hover {
  opacity: 1;
}
.product-card__img img {
  cursor: pointer;
}
.preview-heart {
  text-align: center;
}
.preview-heart--show,
.preview-card--show {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s ease, opacity 0.2s ease;
}
.sale_personal_order_list {
  text-align: left;
}
.personal-block__section h2 {
  text-align: left;
}
.personal-block__section .attention {
  text-align: justify;
  margin-top: 30px;
  font-size: 13px;
  color: #333;
  width: 255px;
}
.link-sale_personal_order_list {
  color: #78b700;
}
.link-sale_personal_order_list-alt {
  color: #333333;
}
.padding-table-bottom {
  text-align: right;
  padding: 0 15px 12px 15px !important;
}
.padding-table-top {
  text-align: left;
  padding: 12px 15px 0 15px !important;
}
.instruction-wrapper {
  width: 30%;
}
.instruction-wrapper .tab-content__column a {
  text-align: left;
  display: block;
}
.addToCartBtn {
  cursor: pointer;
}
.characteristics-wrapper {
  width: 70%;
}
.sci-top__name {
  display: flex;
  text-align: left;
  align-items: center;
}
.sci-add__name {
  display: flex;
  text-align: left;
  align-items: center;
}
.sci-delivery-content__col.fix {
  width: auto !important;
}
.shopcart-sidebar__back-shopping {
  margin-top: 10px;
}
.catalog-filter__li a {
  color: #000;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.catalog-filter__li a:hover {
  color: #78b700;
}
.sci-login__form input {
  cursor: pointer;
}
.top-nav1__search-button input {
  cursor: pointer;
}
.top-nav1__search-input {
  font-size: 14px;
}
.shopcart-sidebar__button.hidden {
  display: none;
}
.pb-info__col2 {
  max-width: 340px;
}
.top-slider__item {
  cursor: pointer;
}

.product-sidebar__cheaper.product-sidebar__cheaper__disbled:hover {
  border-color: #c4c4c4;
  background-color: #ffffff;
  color: #4f4f4f;
  cursor: default;
}
.new-product__block.arrow-fix > .slick-prev {
  left: -35px;
}
.new-product__block.arrow-fix > .slick-next {
  right: -35px;
}
.promotion__block.arrow-fix > .slick-prev {
  left: -35px;
}
.promotion__block.arrow-fix > .slick-next {
  right: -35px;
}
.addToCompareList {
  background: url("../img/top-sheets-green.svg") center center no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
}
.addToCompareList.notActive {
  background: url("../img/top-sheets.svg") center center no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
}
.addToCompareList.compare__basket {
  background: none;
}
.cb-line-nav-top__list.addToCompareList {
  background: url("../img/top-sheets-green.svg") left center no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
}
.cb-line-nav-top__list.addToCompareList.notActive {
  background: url("../img/top-sheets.svg") left center no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
}
.p-nav-top__list,
.cb-single-nav-top__list {
  background-size: contain !important;
}
.cb-block__item.block__item__brand {
  width: 25%;
}
.cb-block__item.block__item__brand:nth-child(3n) {
  border-right: 1px solid #ebebeb;
}
.cb-block__item.block__item__brand:nth-child(4n) {
  border-right: 0;
}
.p-cart-properties {
  min-width: 215px;
}
body {
  min-width: 320px;
}
html {
  min-width: 320px;
}
.product-tabs label {
  max-width: 100%;
}
.top-nav2.mobile {
  display: none;
}
@media screen and (max-width: 1169px) {
  .top-nav2.mobile {
    display: block;
  }
  .top-nav2 {
    display: none;
  }
}
.sc-category-card__img img {
  width: 85%;
}
.preview-shopcart {
  right: 0;
}
@media screen and (max-width: 385px) {
  #slider-range-alt {
    display: none;
  }
  .top-nav1__call {
    display: block;
    margin: auto;
    margin-top: 10px;
  }
}
@media screen and (max-width: 991px) {
  .instruction-wrapper {
    width: 100%;
  }
  .characteristics-wrapper {
    width: 100%;
  }
}
input {
  border-radius: 0;
}
.p-nav-middle__comments {
  cursor: default;
}
@media only screen and (max-width: 639px) {
  .footer-bottom__contract {
    margin-left: 0;
    width: 100%;
    text-align: right;
    color: #79b700;
  }
  .footer-bottom__policy {
    text-align: right;
    color: #79b700;
  }
}

.grecaptcha-badge {
  display: none;
}
a.top-submenu2__item:hover .top-submenu2__title {
  color: #79b700;
}
.sc-category-card:hover .sc-category-card__title {
  color: #79b700;
}
.btn-bestseller-mobile {
  display: none;
}
@media screen and (max-width: 1069px) {
  .btn-bestseller {
    display: none;
  }
  .btn-bestseller-mobile {
    display: block;
  }
}
.btn-bestseller-mobile {
  padding: 10px 14px;
  border: 2px solid #79b700;
  color: #333;
  border-radius: 5px;
}
.notetext {
  font-size: 24px;
  font-weight: 500;
  margin: 150px 0;
  display: block;
}
.filter-burger {
  z-index: 1;
}
.product-sidebar__cheaper__disbled {
  opacity: 0.4;
}
.m-top {
  margin-top: 30px;
}
.sci-payment-content {
  display: none !important;
}
.sci-delivery-content__col.fix {
  margin: 0;
}
@media screen and (max-width: 767px) {
  .p-nav-top {
    display: none !important;
  }
  .history-left-menu {
    display: none;
  }
  .helper-history-order {
    display: none;
  }
}
.compare .compare__main .compare__block {
  padding: 0px 20px 10px;
}
.compare .compare__main .compare__block > .slick-arrow {
  top: 282px !important;
}
.last-view {
  width: 100%;
}
.pb-info__col2 {
  display: flex;
}
.pb-info__col1 {
  display: flex;
}
.pb-info__col-text {
  width: 100%;
  display: block;
}
@media screen and (max-width: 567px) {
  .pb-info__button {
    width: 100%;
  }
  .cb-nav-count__total {
    margin-right: 5px;
  }
}
.cb-filter__param-hidden {
  display: none;
}
.social-link {
  display: inline-block;
}
.profile-info-image {
  width: 150px;
  height: 150px;
  background-size: cover !important;
}
.pb-info-input-group {
  width: 100%;
  margin-top: 30px;
}
.sc-category-card__img {
  background-size: contain !important;
}
.tab-content .right-block {
  width: 25%;
}
.tab-content .left-block {
  width: 70%;
}
@media screen and (max-width: 991px) {
  .tab-content .right-block {
    width: 100%;
  }
  .tab-content .left-block {
    width: 100%;
  }
}
/* .tab-content__column.left-block {
  font-family: 'Montserrat', sans-serif!important;
  font-size: 14px;
  text-align: justify;
} */

.dnd-location-line {
  display: none;
  /* text-align: left;
  padding: 10px 5px;
  position: relative; */
}
.top-location-line {
  /*text-align: right;*/
  /*position: absolute;*/
  /*right: 200px;*/
  /*font-size: 12px;*/
}
.dnd-location-line.dnd-location-line-show {
  display: block;
}
.dnd-location-curent {
  display: inline-block;
  cursor: pointer;
  white-space: nowrap;
}
.dnd-location-curent i {
  color: #79b700;
  font-size: 14px;
  margin-right: 5px;
}
.sci-login__button {
  font-weight: 700;
}
/*.dnd-location-specify, .dnd-location-change-city{*/
/*position: absolute;*/
/*padding: 10px;*/
/*left: -40px;*/
/*top: 25px;*/
/*background-color: #fff;*/
/*z-index: 9;*/
/*border: 3px solid #79b700;*/
/*border-radius: 3px;*/
/*}*/
/*.dnd-location-specify::after, .dnd-location-change-city::after {*/
/*content: '';*/
/*position: absolute;*/
/*border: 10px solid transparent;*/
/*border-bottom: 10px solid #79b700;*/
/*bottom: 100%;*/
/*left: 32px;*/
/*}*/
/*.dnd-location-specify>div>p{*/
/*color: #333;*/
/*font-size: 13pt;*/
/*width: 300px;*/
/*text-align: center;*/
/*}*/
.dnd-location-specify-btn {
  text-align: center;
  margin-top: 15px;
}
.dnd-location-specify-btn button {
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  text-align: center;

  display: inline-block;
  padding: 5px 20px;
  margin: 0 5px;
  border: none;
  background-color: #83bb26;
  border-radius: 3px;
  transition: all 0.2s ease;
  cursor: pointer;
}

.dnd-location-specify-btn button:hover,
.dnd-location-specify-btn button:focus {
  background-color: #76af17;
}

.dnd-location-specify-btn button:active {
  background-color: #5c8911;
}
/*.dnd-location-change-city-form input{*/
/*font-size: 20px;*/
/*border: 0;*/
/*border-bottom: 1px solid #79b700;*/
/*padding: 5px;*/
/*margin-bottom: 15px;*/
/*text-align: center;*/
/*font-size: 13pt;*/
/*width: 230px;*/
/*}*/
.dnd-location-change-city-form ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.dnd-location__item {
  color: #29282c;
  font-size: 18px;
  font-weight: 500;

  position: relative;
  padding: 10px;
  padding-left: 22px;
  cursor: pointer;
  transition: all 0.2s ease;
}
.dnd-location__item::before {
  content: "";
  position: absolute;
  top: 17px;
  left: 0;
  transform: rotate(133deg);
  width: 11px;
  height: 5px;
  border-top: 2px solid transparent;
  border-right: 2px solid transparent;
}
.dnd-location__item:hover {
  color: #83bb26;
}
.dnd-location__item:hover::before {
  border-top-color: rgba(153, 152, 157, 0.3);
  border-right-color: rgba(153, 152, 157, 0.3);
}
.dnd-location__item--active {
  color: #83bb26;
}
.dnd-location__item--active::before {
  border-top-color: #83bb26;
  border-right-color: #83bb26;
}
.dnd-location__item--active:hover::before {
  border-top-color: #83bb26;
  border-right-color: #83bb26;
}
#dnd-location {
  position: relative;
}

@media screen and (min-width: 768px) {
  /*.dnd-location-specify, .dnd-location-change-city {*/
  /*margin-left: 8px;*/
  /*left: 50%;*/
  /*transform: translateX(-50%);*/
  /*}*/

  /*.dnd-location-specify::after, .dnd-location-change-city::after {*/
  /*margin-left: -10px;*/
  /*left: 50%;*/
  /*}*/

  .dnd-location-specify.slide-fade-enter,
  .dnd-location-change-city.slide-fade-enter,
  .dnd-location-specify.slide-fade-leave-to,
  .dnd-location-change-city.slide-fade-leave-to {
    transform: translateX(calc(-50% + 10px));
  }
}

.slide-fade-enter-active {
  transition: all 0.3s ease;
}
.slide-fade-leave-active {
  transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active до версии 2.1.8 */ {
  transform: translateX(10px);
  opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
  opacity: 0;
}

.rb_so__hide {
  display: none !important;
}
#wait_order_form_content {
  display: none;
}
.hidden_top_prop {
  display: none;
}
.questions {
  margin-top: 40px;
}
.product-card__slide img {
  width: 70% !important;
}
.message-incorrect {
  margin: 100px 0;
  font-size: 21px;
  font-weight: 500;
}
.top-menu__items {
  margin-right: 5px;
}
.dsb-hidden {
  display: none !important;
}

.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
  flex-shrink: 0;
}

.content {
  width: 100%;
  flex: 1 0 auto;
}

.content--index .slick-dots {
  display: none !important;
}

.footer {
  width: 100%;
  padding-top: 10px;
  margin-top: 20px;
  flex-shrink: 0;
  border-top: 1px solid #f2f2f2;
}

@media screen and (max-width: 767px) {
  .push_up_item.is-added-to-cart {
    display: none !important;
  }
}

.top-nav__block {
  flex-wrap: nowrap;
}

.top-burger {
  flex-shrink: 0;
}

.top-sign {
  white-space: nowrap;
}

.top-location-line {
  min-width: 0;
}

.dnd-location-line {
  max-width: 100%;
}

.dnd-location-curent {
  max-width: 100%;
  display: inline-flex;
  flex-wrap: nowrap;
  align-items: center;
}

.dnd-location-curent i {
  flex-shrink: 0;
}

.dnd-location-curent span {
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.top-personal__shopcart {
  white-space: nowrap;
}

@media screen and (max-width: 479px) {
  .top-sign {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (min-width: 1130px) {
  .dnd-location-change-city-form ul {
    display: flex;
    flex-wrap: wrap;
  }

  .dnd-location__item {
    width: 50%;
  }
}

body div.search-popup {
  min-width: 200px;
  max-height: 272px;
  padding: 4px 0;
  margin: 5px 0 0;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  border: 1px solid #e1e1e1;
  border-radius: 3px;
  box-shadow: 0px 14px 14px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  line-height: normal;
  font-family: "PT Root UI", "Arial", sans-serif;
}

body div.search-popup-row,
body div.search-popup-row-active {
  padding: 6px 15px;
  font-size: inherit;
}

body div.search-popup-row-active {
  background-color: #f5f5f5;
}

@media screen and (min-width: 1220px) {
  body div.search-popup {
    font-size: 18px;
  }
}

.product-sidebar__buttons {
  margin-bottom: 20px;
}

.product-sidebar__delivery {
  margin-bottom: 24px;
}

.product-sidebar__payment-methods {
  margin-bottom: 32px;
}

.product-delivery {
  color: #73737e;
  font-size: 14px;
  line-height: 18px;
  font-family: "PT Root UI", "Arial", sans-serif;
}

.product-delivery__header {
  padding-bottom: 10px;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  border-bottom: 1px solid #f2f2f2;
}

.product-delivery__header-cell {
  padding-right: 20px;
}

.product-delivery__header-cell:last-child {
  padding-right: 0;
}

.product-delivery__title {
  margin: 0;
  color: #29282c;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.product-delivery__city {
  padding-top: 2px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  color: #73737e;
  cursor: pointer;
  -webkit-transition: color 0.2s ease;
  -o-transition: color 0.2s ease;
  transition: color 0.2s ease;
}

.product-delivery__city .svg-icon--location {
  width: 13px;
  height: 13px;
  margin-right: 5px;
  position: relative;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  top: 3px;
  fill: currentColor;
}

.product-delivery__city:hover {
  color: #29282c;
}

.product-delivery__item {
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.product-delivery__item-cell {
  padding-right: 20px;
}

.product-delivery__item-cell:last-child {
  padding-right: 0;
  text-align: right;
}

.product-payment-methods {
  color: #73737e;
  font-size: 14px;
  line-height: 18px;
  font-family: "PT Root UI", "Arial", sans-serif;
}

.product-payment-methods__title {
  margin: 0 0 10px;
  color: #29282c;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.product-payment-methods__list {
  padding: 0;
  margin: 0 0 8px -20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

.product-payment-methods__list-item {
  min-height: 25px;
  margin: 0 0 8px 20px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.product-payment-methods__list-item img {
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.product-payment-methods__list-item[data-title]:before {
  content: attr(data-title);
  margin-bottom: 5px;
  padding: 4px 9px 5px;
  position: absolute;
  left: 50%;
  bottom: 100%;
  border-radius: 3px;
  border: 1px solid #f2f2f2;
  background-color: #fff;
  -webkit-box-shadow: 0px 14px 14px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 14px 14px rgba(0, 0, 0, 0.1);
  visibility: hidden;
  opacity: 0;
  color: #73737e;
  font-size: 14px;
  line-height: 18px;
  -webkit-transform: translate(-50%, -10px);
  -ms-transform: translate(-50%, -10px);
  transform: translate(-50%, -10px);
  -webkit-transition: visibility 0s ease 0.15s, opacity 0.15s ease,
    -webkit-transform 0.15s ease;
  transition: visibility 0s ease 0.15s, opacity 0.15s ease,
    -webkit-transform 0.15s ease;
  -o-transition: visibility 0s ease 0.15s, opacity 0.15s ease,
    transform 0.15s ease;
  transition: visibility 0s ease 0.15s, opacity 0.15s ease, transform 0.15s ease;
  transition: visibility 0s ease 0.15s, opacity 0.15s ease, transform 0.15s ease,
    -webkit-transform 0.15s ease;
}

.product-payment-methods__list-item[data-title]:after {
  content: "";
  width: 7px;
  height: 7px;
  margin-bottom: 1px;
  position: absolute;
  bottom: 100%;
  left: 50%;
  border-bottom: 1px solid #f2f2f2;
  border-right: 1px solid #f2f2f2;
  border-bottom-right-radius: 3px;
  background-color: #fff;
  visibility: hidden;
  opacity: 0;
  -webkit-transform: translate(-50%, -10px) rotate(45deg);
  -ms-transform: translate(-50%, -10px) rotate(45deg);
  transform: translate(-50%, -10px) rotate(45deg);
  -webkit-transition: visibility 0s ease 0.15s, opacity 0.15s ease,
    -webkit-transform 0.15s ease;
  transition: visibility 0s ease 0.15s, opacity 0.15s ease,
    -webkit-transform 0.15s ease;
  -o-transition: visibility 0s ease 0.15s, opacity 0.15s ease,
    transform 0.15s ease;
  transition: visibility 0s ease 0.15s, opacity 0.15s ease, transform 0.15s ease;
  transition: visibility 0s ease 0.15s, opacity 0.15s ease, transform 0.15s ease,
    -webkit-transform 0.15s ease;
}

.product-payment-methods__list-item[data-title]:hover:before {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  -webkit-transition: visibility 0s ease, opacity 0.15s ease,
    -webkit-transform 0.15s ease;
  transition: visibility 0s ease, opacity 0.15s ease,
    -webkit-transform 0.15s ease;
  -o-transition: visibility 0s ease, opacity 0.15s ease, transform 0.15s ease;
  transition: visibility 0s ease, opacity 0.15s ease, transform 0.15s ease;
  transition: visibility 0s ease, opacity 0.15s ease, transform 0.15s ease,
    -webkit-transform 0.15s ease;
}

.product-payment-methods__list-item[data-title]:hover:after {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translate(-50%, 0) rotate(45deg);
  -ms-transform: translate(-50%, 0) rotate(45deg);
  transform: translate(-50%, 0) rotate(45deg);
  -webkit-transition: visibility 0s ease, opacity 0.15s ease,
    -webkit-transform 0.15s ease;
  transition: visibility 0s ease, opacity 0.15s ease,
    -webkit-transform 0.15s ease;
  -o-transition: visibility 0s ease, opacity 0.15s ease, transform 0.15s ease;
  transition: visibility 0s ease, opacity 0.15s ease, transform 0.15s ease;
  transition: visibility 0s ease, opacity 0.15s ease, transform 0.15s ease,
    -webkit-transform 0.15s ease;
}
